<div class="container">

  <div class="row" style="margin-top:10%;">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
      <form [formGroup]="loginForm">
      <div class="form-group">
        <label for="exampleInputEmail1">Dirección de Correo</label>
        <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="micorreo@dominio.com">
        <small id="emailHelp" class="form-text text-muted">Nunca compartas tu email con nadie.</small>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Contraseña</label>
        <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Clave">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Recuérdame</label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="login()">Ingresar</button>
    </form>
    </div>
    <div class="col-md-4">

    </div>
  </div>

</div>
